<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="bash" 
                  arguments="-c "cd /home/site/wwwroot && bash startup.sh""
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout"
                  startupTimeLimit="300"
                  requestTimeout="00:05:00">
    </httpPlatform>
  </system.webServer>
</configuration>
